<h1> OI</h1>

<body>

<div style="height:100%">
<div class="topdiv"><%= image_tag "logo_azul.svg" , :width => '150' , :class => 'svgClass' %></div>
<div class="bottomdiv">bottom div</div>

</div>
</body>
