<body>

<div style="height:100%">
<div class="topdiv"><%= image_tag "logo_azul.svg" , :width => '300'%>
</div>
<div class="bottomdiv"><%= image_tag "manutecao.jpg" , :width => '425'%></div>

</div>
</body>
